{erl_opts, [debug_info, {src_dirs, ["src"]}]}.

{plugins, [pc]}.

{pc_clang_db, true}.
{provider_hooks,
 [{pre,
   [{compile, {pc, compile}},
    {clean, {pc, clean}}]}]}.

% TODO: Move this to the rebar-2 compatible port compiler plugin

{port_env, [{"ERL_LDFLAGS", " -L${ERL_EI_LIBDIR} -lei -lkrb5 -lgssapi_krb5"},
            {"CFLAGS", "${CFLAGS}", {"LDFLAGS", "${LDFLAGS}"}}]}.

{port_specs, [{"priv/egssapi_nif.so", ["c_src/*.c"]}]}.

{deps, []}.
